# Server Configuration
PORT=3000
NODE_ENV=production

# Database Configuration (MySQL)
# Dùng cho Prisma
DATABASE_URL="mysql://user:user_password@127.0.0.1:3307/publicast"

# Redis Configuration (For OTP, Rate Limiting, Refresh Token)
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# Email Configuration (Gmail SMTP)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password_16_chars

# JWT Configuration - Access Token (15 minutes)
ACCESS_TOKEN_SECRET=your_super_secret_access_token_key_min_32_characters

# JWT Configuration - Refresh Token (7 days)
REFRESH_TOKEN_SECRET=your_super_secret_refresh_token_key_min_32_characters

